// Defaults based on http://webdesignerwall.com/tutorials/the-simpler-css-grid
$column-width: 54px;
$gutter-width: 30px;
$columns: 12;
$responsive: true;

@function grid-width($n:$columns) {
  @return $n * $column-width + ($n - 1) * $gutter-width;
}

@function grid-push($n) {
  @return $n * $column-width + $n * $gutter-width;
}

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
  &:before,
  &:after {
      content:"";
      display:table;
  }
  &:after {
      clear:both;
  }
}

@mixin grid-system {
  width: grid-width();
  margin: 0 auto;

  @if $responsive == true {
    @media (max-width: 720px) {
      width: auto;
      font-size: 1.125em;
    }
  }

  @include clearfix;

}

@mixin column($n) {
  float: left;
  width: grid-width($n);
  margin-right: $gutter-width;

  @if $responsive == true {
    @media (max-width: 720px) {
      width: auto;
      float: none;
      margin: 0;
    }
  }

}

@mixin column-last {
  margin-right: 0;
}

@mixin push($n) {
  margin-left: grid-push($n)
}

@mixin pull($n) {
  margin-right: grid-push($n)
}


